In [ ]:
#datatypes , int , float, string, 
#identifiers
#different system-defined functions - print, input, type
#IDLE
#smart editor Jupiter Notebook
#simple pgm - to find out the area of circle , area of rectangle and square, stud mks calc
#comments - single line and the multiline comments
#escape sequences - \t and \n

In [1]:
a=67
b=34.2
c="Python"
a>b

True

In [2]:
print(a)  #system defined fn
print(b)
print(c)

67
34.2
Python

In [5]:
print(type(a))
print(type(b))
print(type(c))
print(type(a>b))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [9]:
# using input() function along with the datatypes
name=input("enter the name of the student")
mk1=int(input("enter the 1st test"))
mk2=int(input("enter the 2nd test"))
mk3=int(input("enter the 3rd test"))
total=mk1+mk2+mk3
print("total mks of -","name", total, name)
""" this program calculates the total of the marks
I hope you understood it"""

enter the name of the student abc
enter the 1st test 78
enter the 2nd test 89
enter the 3rd test 90

total mks of - name 257 abc

' this program calculates the total of the marks\nI hope you understood it'

In [10]:
print(id(a))

140722801988088

In [13]:
b1ab=56
b1ab

56

In [14]:
a=b=c=90

In [15]:
print(a)
print(b)

90
90

In [16]:
x,y,z=20,30,40
print("x \t y \t z are",x,y,z)

x 	 y 	 z are 20 30 40

In [22]:
x=math.sqrt(9)
print(x)

3.0

In [21]:
import math
y=math.ceil(34.7)
print(y)

35

In [24]:
z=math.floor(34.2)
print(z)

34

In [25]:
a

90

In [26]:
del a

In [27]:
a

NameError: name 'a' is not defined

In [30]:
"""relational operators,they allow us to maintain the relationship between 
more than one variable/expression"""
#> >= <  <=  ==  !=
a=10
b=20

print(a==b)  #relational op
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a!=b)

False
False
True
False
True
True

In [31]:
a=b 
print(a)

20

In [ ]:
#sequential 
#conditional
#iteration

In [ ]:
#if condition
'''if <condition>:
    statement'''   #syntax of if condition

In [35]:
p=10
if p>0:
    print("it is a positive no.")

it is a positive no.

In [39]:
p=int(input("enter the value for p"))
if p>0:   #identation op
    print("p is positive")
else:
    print("p is negative")

enter the value for p 45

p is positive

In [2]:
#session/lecture 4 
x=-6
y=3
print(x)
print(y)

-6
3

In [3]:
a=7
b=2
a%b

1

In [4]:
print(a)
print(b)

7
2

In [5]:
a//b

3

In [6]:
a/b

3.5

In [7]:
a=2
b=3
a**b

8

In [14]:

x=pow(4,2)  #system defined fn
x

16

In [15]:
a=5
b=5
a>=b

True

In [16]:
a and b

5

In [17]:
a==5 and b==5

True

In [18]:
a>5 and b==5

False

In [19]:
a>=5 and b==5

True

In [20]:
a>=5 or b==5

True

In [21]:
a>=5 or b==4

True

In [22]:
a>5 or b==4

False

In [23]:
not(a and b)

False

In [26]:
print(a)
print(b)
a+=b  #meaning is a=a+b  a=5 , b=5
print(a)
print(b)

15
5
20
5

In [27]:
a=10
b=20
a in b

TypeError: argument of type 'int' is not iterable

In [28]:
x=[5,6,7]   #list in Python
6 in x

True

In [29]:
8 in x

False

In [30]:
8 not in x

True

In [32]:
listelem=[6,7.2,'a','Python',True]
listelem

[6, 7.2, 'a', 'Python', True]

In [33]:
b in listelem

False

In [34]:
p=6
p in listelem

True

In [35]:
9 in listelem

False

In [36]:
9 not in listelem

True

In [38]:
p=5
q=7
if p > q:
    print("p is greater")
elif p < q:
    print("p is lesser")
else:
    print(" p and q are having same values")

p is lesser

In [40]:
# using input() function along with the datatypes
name=input("enter the name of the student")
mk1=int(input("enter the 1st test"))
mk2=int(input("enter the 2nd test"))
mk3=int(input("enter the 3rd test"))
total=mk1+mk2+mk3
print("total mks of -","name", total, name)
perc=total/3
print("perc is",perc)
if perc > 90:
    print("student secured Merit grade")
elif perc >=75 and perc <90:
    print("student secured Distinction")
else:
    print("student secured Pass grade")

enter the name of the student abc
enter the 1st test 89
enter the 2nd test 89
enter the 3rd test 90

total mks of - name 268 abc
perc is 89.33333333333333
student secured Distinction

In [6]:
#caclulating area of rectangle and calculating area of square and then find out the shape according to the values given
#Ar=l*b
#As=side*side
l=int(input("enter the length"))
b=int(input("enter the breadth"))
#s=int(input("enter the side"))
#following is the nested if
if(l>0) and (b>0):
    if(l==b):
        print("this shape is a  square")
        As=l*l
        print("area of square is",As)
    else:
        print("this shape is a rectangle")
        Ar=l*b
        print("area of rectangle is",Ar)
else:
    print("such values are not allowed for calculating area of rect and sqr")

enter the length 5
enter the breadth 6

this shape is a rectangle
area of rectangle is 30

In [8]:
x,y=1,8
st="x is less than y" if(x<y) else "x must be greater than y"
print(st)

x is less than y

In [19]:
#highest of the 3 nos
x=int(input("Enter x"))  #2
y=int(input("Enter y"))  #4
z=int(input("Enter z"))  #3
if(x!=y) and (y!=z) and (z!=x): #dry run
    if (x> y) and (x>z):
        print("x is highest")
    elif(y>z) and (y>x):
        print("y is highest")
    else:
        print("z is highest")
else:
    print("they are same")

Enter x 3
Enter y 4
Enter z 3

they are same

In [22]:
#if is a condition  - executes only once
#while is used for iteration
i=1
while i<=5:
    print("the value of i is",i)  #1   2   3  4  5
    i+=1  #or i=i+1

the value of i is 1
the value of i is 2
the value of i is 3
the value of i is 4
the value of i is 5

In [23]:
i=10
while i>=1:
    print("the value of i is",i)  
    i=i-1

the value of i is 10
the value of i is 9
the value of i is 8
the value of i is 7
the value of i is 6
the value of i is 5
the value of i is 4
the value of i is 3
the value of i is 2
the value of i is 1

In [ ]:
#syntax of while
'''intialization
while condition:
    stmt 
    stmt..
    incre/decre'''
# write down a code to display nos 1   3   5   7   9